export(dpgrow)
export(dpgrowmm)
export(dpgrowmult)
export(dpPost)
export(effectsplot)
export(getmf)
export(growplot)
export(growthCurve)
export(lgmPost)
export(mcmcPlots)
export(mmCplusDpPost)
export(mmIgroupDpPost)
export(mmIplusDpPost)
export(mmmultPost)
export(relabel)
export(samples)
export(summary_quantiles)
export(trtplot)
export(XZcov)
import(Formula)
import(ggplot2)
import(Rcpp)
import(RcppArmadillo)
import(reshape2)
import(scales)
import(testthat)
S3method(dpgrow,default)
S3method(dpgrowmm,default)
S3method(dpgrowmult,default)
S3method(plot,dpgrow)
S3method(plot,dpgrowmm)
S3method(plot,dpgrowmult)
S3method(print,summary.dpgrow)
S3method(print,summary.dpgrowmm)
S3method(print,summary.dpgrowmult)
S3method(samples,dpgrow)
S3method(samples,dpgrowmm)
S3method(samples,dpgrowmult)
S3method(summary,dpgrow)
S3method(summary,dpgrowmm)
S3method(summary,dpgrowmult)
useDynLib(growcurves)
